[submodule "compilers/vbcc/vbcc"]
	path = compilers/vbcc/vbcc
	url = ./compilers/vbcc/vbcc
[submodule "compilers/lily-cc/lily-cc"]
	path = compilers/lily-cc/lily-cc
	url = https://github.com/robotman2412/lily-cc.git
