litex
litedram
litespi
git+https://github.com/litex-hub/litex-boards.git
git+https://github.com/litex-hub/pythondata-software-picolibc.git
git+https://github.com/litex-hub/pythondata-software-compiler_rt.git
git+https://github.com/enjoy-digital/litesdcard.git
git+https://github.com/litex-hub/pythondata-misc-tapcfg.git
amaranth>=0.5,<0.6
amaranth-yosys
pytest>=8,<10
pytest-xdist>=3,<4
