/dts-v1/;

/ {
    #address-cells = <2>;
    #size-cells = <2>;
    compatible = "little64,virt";
    model = "Little-64 Virtual Machine";

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;

        cpu@0 {
            compatible = "little64";
            device_type = "cpu";
            reg = <0>;
            clock-frequency = <1000000000>;  /* 1 GHz */
        };
    };

    memory@100000 {
        device_type = "memory";
        reg = <0x0 0x100000 0x0 0x4000000>;  /* 1 MiB base, 64 MiB size */
    };

    chosen {
        bootargs = "console=ttyS0,115200 earlycon=uart8250,mmio,0x08000000,115200n8 ignore_loglevel loglevel=8";
        stdout-path = "/uart@8000000";
    };

    uart@8000000 {
        compatible = "ns16550a";
        reg = <0x0 0x08000000  0x0 0x8>;
        interrupts = <4>;
        clock-frequency = <1843200>;
    };

    timer@8001000 {
        compatible = "little64,timer";
        reg = <0x0 0x08001000  0x0 0x20>;
        interrupts = <5>;
    };
};
